.button {
  width: auto;
  display: block;
  padding: 8px 32px;
  align-self: center;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 24px;

  @screen md {
    font-size: 20px;
  }
}

.primary {
  background: #29323d;
  color: #fff;

  &:disabled {
    background: rgba(#29323d, 0.6);
    cursor: not-allowed;
    pointer-events: all;
  }
}

.secondary {
  background: #fff;
  font-weight: 700;
  color: #29323d;
  border: solid 3px #29323d;
}
