$icon-green: #2bab66;
$black: #2d2c2b;
$aqua-marine: #42c2b9;
$divider: #e2e2e2;
$battleship-grey: #6f737a;
$status-paa-vej: #dce7fa;
$status-ankommer: #cef3df;
$status-korer: #eaeaec;
$background-grey: #f8f9fb;
$status-annulleret: #f21515;
$icon-orange: #f2b408;
$gray: #8f959f;
$status-forsinket: #ff9f4b;
$icon-dark-gray: #4a4c50;
$icon-white: #ffffff;
$company-color-bluegreen: #96b2cc;
$company-color-red-1: #ff3e64;
$company-color-blue: #458fd2;
$company-color-green: #96cc99;
$company-color-gray: #bbbbbb;
$company-color-yellow: #c7d593;
$company-color-red-2: #b76042;
$company-color-purple: #9d50c7;
$overlay: rgba(0, 0, 0, 0.5);
$icon-blue: #4481e3;
$indicator-black: #000000;