.module {
    background: #fff;
    padding: 24px 32px;
    border-radius: 12px;
    width: 100%;

    @screen md {
        width: 60%;
    }
}


.content {
    display: flex;
    flex-direction: column;
}