.section {
  padding: 24px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @screen md {
    padding: 48px 80px;
  }
}

.divider {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e2e2e2;
}

.usp {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.usp:not(:last-child) {
  margin-bottom: 40px;

  @screen md {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.stepCirlce {
  margin-bottom: 12px;
  height: 75px;
  width: 75px;
  display: flex;
  font-weight: 700;
  color: #9fafc1;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #edf0f4;
}

.img {
  width: 220px;
  height: 110px;
}

.map {
  flex: 1 1 100%;
  margin-top: 32px;

  @screen md {
    margin-top: 0;
    flex: 1;
  }
}

.socialMedia {
  display: flex;
  margin-top: auto;
}

.contactInfo {
  opacity: 0.8;
  margin: 32px 0;
}
